body {
    background: #333;
}

.box {
background: white;
 width: 200px;
 height: 200px;
 position: relative;
 animation-name: myanimation;
 animation-duration: 4s;   
}

@keyframes myanimation {
0% {background-color: white;}
25% {background-color: red;}
50% {background-color: yellow;}
75%{background-color: magenta;}
100%{background-color: white;}



}
